@model WeDeliver.App.Domain.Pacotes.Pacote

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pacote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso) (kg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura) (cm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Largura) (cm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Largura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profundidade) (cm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profundidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
