@model WeDeliver.App.Domain.Rastreios.Rastreio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rastreio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Postagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Postagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Pacote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Pacote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusEnvio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusEnvio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaAtualizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimaAtualizacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
